{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <div class="people-single-header">
      {{- if .Params.image }}
      <img class="people-single-photo" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
      {{- end }}
      <div class="people-single-info">
        <h1 class="post-title">{{ .Title }}</h1>
        {{- with .Params.role }}
        <p class="post-description">{{ . }}</p>
        {{- end }}
        <p>
          {{- with .Params.email }}
          <a href="mailto:{{ . }}">{{ . }}</a>&ensp;
          {{- end }}
          {{- with .Params.website }}
          <a href="{{ . }}" target="_blank" rel="noopener">Website</a>&ensp;
          {{- end }}
          {{- with .Params.google_scholar }}
          <a href="{{ . }}" target="_blank" rel="noopener">Google Scholar</a>
          {{- end }}
        </p>
      </div>
    </div>
  </header>

  {{- if .Content }}
  <div class="post-content md-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
